<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>06_列表渲染</title>
</head>
<body>

<!--
1. 列表显示
  数组: v-for / index
  对象: v-for / key
2. 列表的更新显示
  删除item
  替换item
-->

<div id="demo">
  <h2>测试: v-for 遍历数组</h2>
  <ul>
    <li v-for="(p, index) in persons" :key="index">
      {{index}}---{{p.name}}---{{p.age}}
      --<button @click="deleteP(index)">删除</button>
      --<button @click="updateP(index, {name:'Cat', age: 20})">更新</button>
    </li>
  </ul>

  <h2>测试: v-for 遍历对象</h2>
  <ul>
    <li v-for="(value, key) in persons[1]" :key="key">
      {{key}}---{{value}}
    </li>
  </ul>

</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
    el: '#demo',
    data: {
      persons: [ // vue只是监视了persons本身, 并没有监视数组内部的元素
        {name: 'Tom', age: 15},
        {name: 'Jack', age: 14},
        {name: 'Bob', age: 18},
        {name: 'Marry', age: 16},
        {name: 'Rose', age: 17}
      ]
    },

    methods: {
      deleteP (index) {
        /*
        调用的splice()并不是原生数组的方法, 而由vue重写的方法
          1. 先调用原生数组对应的方法更新数组中的元素
          2. 更新对应的界面
         */
        this.persons.splice(index, 1)
      },

      updateP (index, newP) {
       //this.persons[index] = newP  // 界面不会更新, 因为vue根本就不知道
        this.persons.splice(index, 1, newP)
      }
    }
  })
</script>
</body>
</html>