<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>01_HelloWorld</title>
</head>
<body>

<!--
  1. 引入Vue.js
  2. 创建Vue对象
    el : 指定根element(选择器)
    data : 初始化数据(页面可以访问)
  3. 双向数据绑定 : v-model
  4. 显示数据 : {{xxx}}
  5. 理解vue的mvvm实现
-->

<!--
  模板: html + js
  js语法:
    指令: v-model="msg"  ==> vue自定义的属性
    大括号表达式: {{msg}}  ==> 显示表达式的值
-->
<div id="test">
  <input type="text" v-model="msg">
  <p>hello, {{msg}}</p>
  <p>hello, {{msg}}</p>
  <p>hello, {{msg}}</p>
  <p>hello, {{msg}}</p>
  <p>hello, {{msg}}</p>
  <p>hello, {{msg}}</p>
</div>

<div id="test2"></div>

<p>{{msg}}</p>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">

  const vm = new Vue({ // 配置对象: 属性名是特定的一些名称
    el: '#test', // element: 值为选择器, 告诉vue管理哪个元素区域
    data: { // 为模板提供可以直接访问的可变数据
      msg: 'atguigu'
    }
  })

  new Vue({
    el: '#test2'
  })
</script>

</body>
</html>